* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr 200px;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.header,
.navigation,
.content-section,
.footer {
  padding: 40px;
  border: 1px solid lightpink;
}
.header,
.navigation,
.footer {
  color: lightpink;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  color: #fff !important;
}
.link:visited {
  color: lightpink;
}

.list-item,
.country-information {
  margin-top: 10px;
}

.header {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.navigation {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  flex: 0 1 10%;
}

.content-section {
  background-color: #1e1e1e;
  flex: 0 1 90%;
}
.information {
  width: 50%;
}
.country-information {
  margin: 20px 0 20px 0;
}
.flag-image {
  max-width: 400px;
  max-height: 200px;
}
.footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
