* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr 200px;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #1e1e1e;
  justify-items: center;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-section {
  flex-grow: 1;
}
.header,
.navigation,
.content-section,
.footer {
  width: 100%;
  padding: 20px;
  border: 1px solid lightpink;
}

.flag-image {
  max-width: 200px;
  margin-top: 20px;
}
.header,
.navigation,
.footer {
  color: lightpink;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: lightpink;
}

.link:hover {
  text-decoration: underline;
  color: #fff !important;
}
.link:visited {
  color: lightpink;
}

.list-item,
.country-information {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  body {
    justify-items: start;
    text-align: start;
  }

  .header,
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    flex: 0 1 10%;
  }

  .content-section {
    flex: 0 1 90%;
  }
  .information {
    width: 50%;
  }
  .country-information {
    margin: 20px 0 20px 0;
  }
  .flag-image {
    max-width: 400px;
    max-height: 200px;
  }
}
