* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr 200px;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

header,
nav,
section,
footer {
  padding: 40px;
  border: 1px solid lightpink;
}
header,
nav,
footer {
  color: lightpink;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #fff !important;
}
a:visited {
  color: lightpink;
}

li,
p {
  margin-top: 10px;
}

header {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 10% 90%;
}

nav {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

section {
  background-color: #1e1e1e;
}
.information {
  width: 50%;
}
p {
  margin: 20px 0 20px 0;
}
img {
  max-width: 400px;
  max-height: 200px;
}
footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
